.quiz-container {
    padding: 15px;

    .title {
        font-size: 27px;
        font-weight: 600;
    }

    .add-new {
        legend {
            font-size: 13px;
        }

        .img-preview {
            border: 1px dashed #ccc;
            border-radius: 5px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ccc;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .label-upload {
            display: flex;
            gap: 5px;
            align-items: center;
            border: none;
            width: fit-content;
            padding: 3px 5px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #eee;

            &:hover {
                background-color: #dcdcdc;
            }
        }

    }

    .list-detail {}
}