body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid;
      height: 40px;

    }

    .btn-signup {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid;
      background-color: #303030;
      color: white;
      height: 40px;

      &:hover {
        background-color: black;
      }
    }

    .navbar {
      background-color: rgba(0, 0, 0, 0) !important;
      padding-top: 20px;

      .nav-link {
        &.active {
          color: rgb(72, 29, 212);
        }
      }
    }
  }

  .main-container {
    .app-content {
      .homepage-container {
        video {
          position: fixed;
          width: 100vw;
          top: 0;
          z-index: -1;
        }

        .homepage-tile {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-top: 220px;
          margin-left: 80px;

          .homepage-title-name {
            font-size: 35px;

          }

          .homepage-title-desc {
            font-size: 20px;
          }

          .homepage-title-submit {
            button {
              border-radius: 5px;
              margin-right: 15px;
              padding: 0 15px;
              border: 1px solid;
              background-color: #303030;
              color: white;
              height: 40px;
              border: none;

              &:hover {
                background-color: black;
              }
            }


          }
        }
      }
    }
  }

}